<div class="container">
  <div class="cards">

  <div class="card-trip">
    <img src="https://res.cloudinary.com/dubgqyx31/image/upload/w_166,c_scale/v1590506082/nomess/charfraise_dzpblg.jpg" />
    <div class="card-trip-infos">
      <div>
        <h6>Nom de la recette</h6>
        <p>Temps</p>
        <p>Nombres de personne</p>

      </div>
    </div>
  </div>

      <div class="button-line">
        <%= link_to "Bon appétit", new_user_registration_path, class: "btn btn-flat" %>
      </div>
  </div>
</div>
