<h2>Votre recette !</h2>

<div class="container">
  <div class="cards">

  <div class="card-trip">
    <img src="https://res.cloudinary.com/dubgqyx31/image/upload/w_450,c_scale/v1590506082/nomess/charfraise_dzpblg.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>



    <button type="button" class="btn btn-success">Bon appétit</button>



  </div>
</div>
