.cards {

}

.card-ingredient {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.index-card-img {
    height: 15px;
    width: 20px;
    background-size: cover;
    object-fit: cover;
    position: absolute;
    margin-left: 35px;
}

.card-ingredient-first {
  display: flex;
  justify-content: start;
}

.card-ingredient-info-date {
    font-size: 1rem;
}

.card-ingredient-info-name {
    position: absolute;
    padding-left: 70px;
    font-size: 1rem;
}

.card-ingredient-first h2 {
    font-size: 1rem;
    margin-bottom: 0;
}

.card-ingredient-last {
    display: flex;
    justify-content: end;
}

.card-ingredient-last h2 {
    font-size: 1rem;
    margin-bottom: 0;
}

#welcome {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.card-ingredient-delete {
    position: absolute;
    margin-left: 315px;
}


.card-ingredient-edit {
    position: absolute;
    margin-left: 290px;
}

#separation {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


