.container-home {
  display: flex;
  flex-direction: column;
/*  background-color: yellow;*/
  padding: 10px;
}

.line-card {
  display: flex;
  flex-direction: row;
/*  background-color: orange;*/
  margin-bottom: 20px;
}

.img-home {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.title-card {
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}

.content-card {
  font-size: 12px;
  text-align: justify;
  margin: 10px;
}

.button-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-app {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: arial;
  // background-color: #22A1AA;
  text-shadow: 1px 1px 2px #dbdbdb;
  border-bottom: 0.5px solid #dbdbdb;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
}

.title-app-no {
  font-weight: bold;
}

.title-app-mess {
  font-style: italic;
}


