
.circle-expiration-date-4 {
  color: white;
  border-radius: 10px;
  background-color: red;
  width: 43px;
  height: 25px;
  text-align: center;
  padding: 3px;
}

.circle-expiration-date-6{
  color: white;
  border-radius: 10px;
  background-color: #E04000;
  width: 43px;
  height: 25px;
  text-align: center;
  padding: 3px;
}

.circle-expiration-date-8{
  color: white;
  border-radius: 10px;
  background-color: #FF6D00;
  width: 43px;
  height: 25px;
  text-align: center;
  padding: 3px;
}

.circle-expiration-date-11{
  color: white;
  border-radius: 10px;
  background-color: #FF8500;
  width: 43px;
  height: 25px;
  text-align: center;
  padding: 3px;
}

.circle-expiration-date-15{
  color: white;
  border-radius: 10px;
  background-color: #FF9E00;
  width: 43px;
  height: 25px;
  text-align: center;
  padding: 3px;
}

.circle-expiration-date-22{
  color: white;
  border-radius: 10px;
  background-color: #FFB600;
  width: 43px;
  height: 25px;
  text-align: center;
  padding: 3px;
}

.circle-expiration-date-31{
  color: white;
  border-radius: 10px;
  background-color: #f2cc8f;
  width: 43px;
  height: 25px;
  text-align: center;
  padding: 3px;
}

.counter{
  display: flex;
  justify-content: center;
}

.counter p {
  margin: 20px;
  font-weight: normal;
  font-size: 20px;
}

.msg-empty-basket {
  display: flex;
  font-size: 22px;
  margin-top: 213px;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.cards {

}

.card-ingredient {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}

.index-card-img {
    height: 20px;
    width: 25px;
    background-size: cover;
    object-fit: cover;
    position: relative;
    margin-left: 10px;
}

.card-ingredient-first {
  display: flex;
  justify-content: start;
}

.card-ingredient-info-date {
    font-size: 1rem;
}

.card-ingredient-info-name {
    // position: absolute;
    padding-left: 10px;
    font-size: 1rem;
}

.card-ingredient-first h2 {
    font-size: 18px;
    margin-bottom: 0;
}

.card-ingredient-last {
    display: flex;
    justify-content: end;
}

.card-ingredient-last h2 {
    font-size: 18px;
    margin-bottom: 0;
    margin-right: 60px;
}

#welcome {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.card-ingredient-delete {
    position: absolute;
    margin-left: 325px;
}

.card-ingredient-edit {
    position: absolute;
    margin-left: 295px;
}

#separation {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}


