.navbar-lewagon {
  justify-content: space-between;
  background: #b6ead8;
  height: 70px;
  -webkit-box-shadow: 1px -5px 7px -1px rgba(211,214,213,0.71);
  -moz-box-shadow: 1px -5px 7px -1px rgba(211,214,213,0.71);
  box-shadow: 1px -5px 7px -1px rgba(211,214,213,0.71);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  justify-content: center;
}

.content-wrapper {
  height: calc(100vh - 70px);
}

.fixed-bottom-nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.navbar-brand {
  opacity: 0.65;
}

.active-perso {
  opacity: 1;
}
